.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.main {
    background: #2b2f34;
    height: auto
}
.header1{
    display: flex;
    justify-content: center;
    color: white;
    font-family: sans-serif;
}

.searchButton {
    color:black;
    background-color: white;
    font-family: sans-serif;
}
.customHeading{
    font-size: 1.45rem;
    padding-right: 10px;
}

.card1{
    border: 2px solid rgba(0,0,0,.125);
    border-radius: 1.25rem;
    min-height: 230px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
}
.customRow{
    font-weight: 400;
    font-size: smaller;
    font-family: 'FontAwesome';
    
}
.cardBody1{
padding-left: 2rem !important;
}